@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



/* shared style */

.display-flex{
    display: flex;
}

.btn-primary{
    color: white;
    background-color: rgb(241, 32, 67);
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    box-shadow: 0px 0px 15px rgb(241, 32, 0.06);
    font-weight: 600;
    font-size: medium;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}


/* nav & banner section */
.navbar , .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-items li{
    list-style: none;
    margin-right: 30px;
}

.nav-items{
    align-items: center;
    color: black;
}

.brand{
    font-size: 30px;
    font-weight: 800;
}


.bg-color{
    background-color: rgb(128, 0, 32);
    border-radius: 10px;
}


.banner-img{
    width: 600px;
    height: 800px;
}

.banner{
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    gap: 20px;
}

.banner-title{
    color: white;
    font-size: 45px;
}
.banner-description{
    color: white;
    font-size: 18px;
}

.btn-des{
    background-color: white;
    color: black;
}

/* food section */

.section-title{
    text-align: center;
    font-size: 3rem;
    color: rgb(218, 165, 32);
}

.food-item img{
    width: 400px;
    height: 300px;
    border-radius: 30px;
}

.food-item{
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    gap: 200px;
}

.food-description{
    color: gray;
}


.sizzling{
    font-size: 20px;
    font-weight: bold;
    color: black;
}


/* Food gallery */
.food-gallery img{
    width: 400px;
    height: 300px;
    border-radius: 20px;
}

.food-gallery{
    justify-content: space-between;
    gap: 20px;
    
}

/* special corner */
.special-corner{
    text-align: center;
}
.special-corner img{
    width: 1440px;
    height: 800px;
    border-radius: 30px;
}




@media screen and (max-width:576px) {
.navbar , 
.banner,
.food-item,
.food-gallery{
    flex-direction: column;
    justify-items: center;
    align-items: center;
    }
    .banner-img, .bg-color, .section-title{
        width: 100%;
    }
    /* .food-gallery{
        grid-template-columns: repeat(1, 1fr);
    } */
    
}
